<!DOCTYPE html>
<html>

<head>
    <title>Judul dari Halaman</title>
    <meta charset="utf-8">

</head>

<body>
    Halo ini adalah isi

    <h1>Header</h1>
    <h2>Header</h2>
    <p>paragraph</p>
    <button>Ada tulisan</button>

    <div style="background-color: red; padding: 10px; margin-top: 20px;">
        <div style="background-color: aqua; margin: 10px; padding: 10px; text-align: center;">
            <span>Box</span>
        </div>
    </div>

    <div class="outer-box">
        <div id="inner-box">
            <span>Box-2</span>
        </div>
    </div>

</body>

</html>